# Ignore Terraform cache and state
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.backup
crash.log

# Ignore sensitive keys
*.pem
*.key
*.crt
terra-key
terra-key.pub

# Ignore environment files
.env
.env.*

# Ignore Node.js dependencies
node_modules/
dist/
build/

# Ignore Docker logs
*.log

# Ignore OS & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore lockfiles (optional, if you want fresh installs)
package-lock.json

